body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(120, 103, 98), 0.952) 0%, rgb(218, 112, 25) 100%, rgb(201, 211, 69) 100%);
    font-family: monospace, sans-serif;
    color: #0d5370;
}

.container {
    background: rgb(249, 249, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgba(15, 12, 12, 0.3);
    width: 85%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 42px;
    color: black;
}

.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 60%;
    font-family: monospace;
    padding: 5px;
    outline: none;
    background: rgb(234, 243, 233);
    border-color: rgba(88, 84, 84, 0.6);
    color: rgb(45, 45, 93);
    font-size: 18px;
}

input::placeholder {
    color: rgb(21, 20, 21);
}

@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}